<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% seo "" %}

        <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title }}">

        {% include "partials/cssAssets.njk" %}

    </head>

    <body class="grid grid-flow-row content-start min-h-screen max-w-4xl container mx-auto px-10 bg-gradient-to-tr from-white to-orange-100">

        <nav class="text-xl text-center mt-4">
            <a href="#main" class="sr-only focus:not-sr-only">Skip to content</a>
            <a href="{{ '/' | url }}" class="{% if page.url === '/' %}border-t-8 border-gray-800{% else %}border-t-4 border-gray-600{% endif  %} pt-4 hover:border-red-600 uppercase" {% if '/' === page.url %}aria-current="page"{% endif %}>FY11</a>
            <a href="{{ '/blog' | url }}" class="{% if '/blog' in page.url %}border-t-8 border-gray-800{% else %}border-t-4 border-gray-600{% endif %} pt-4 hover:border-red-600 uppercase" {% if '/blog' in page.url %}aria-current="page"{% endif %}>Blog</a>
            <a href="{{ '/about' | url }}" class="{% if '/about' in page.url %}border-t-8 border-gray-800{% else %}border-t-4 border-gray-600{% endif %} pt-4 hover:border-red-600 uppercase" {% if '/about' in page.url %}aria-current="page"{% endif %}>About</a>
            <a href="{{ '/feed.xml' | url }}" class="pt-4 border-gray-600 border-t-4 hover:border-red-600 uppercase" target="_blank" rel="noopener">RSS-Feed</a>
        </nav>

        {{ content | safe }}

        <footer class="text-xs text-gray-500 border-gray-600 border-t pt-4 mb-5 text-center">
            Made by <a href="https://www.flyweb.at" class="underline">flyweb productions</a> in Summer 2020 Vienna/Austria &mdash; MIT License <a href="https://github.com/brachycera/fly11ty" class="underline">github.com/brachycera/fly11ty</a>
        </footer>

        {% if fly11ty.environment === 'production' %}
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('{{ '/sw.js' | url }}');
                });
            }
        </script>
        {% endif %}

        {% if fly11ty.environment !== 'production' %}
        <script id="__bs_script__">//<![CDATA[
            document.write("<script async src='http://HOST:8080/browser-sync/browser-sync-client.js'><\/script>".replace("HOST", location.hostname));
        //]]></script>
        {% endif %}

        {% include "partials/jsAssets.njk" %}

    </body>

</html>